NEXT_PUBLIC_SUPABASE_URL=https://fgeknuvxfyqrtfiilfjb.supabase.co
NEXT_PUBLIC_SUPABASE_API_KEY=sb_publishable_HJd6zvA7h2M7Nr54d09qUg_uDZQVfXg
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
GOOGLE_GENERAL_API=AIzaSykey
WHOIS_API_KEY=at_key